<!-- styles -->
<style>
  .table-responsive {
    overflow: auto;
    height: 100vh;
    padding-bottom: 4.6875rem;
  }

  .table thead th {
    position: sticky;
    background-color: rgb(51, 45, 45);
    top: 0;
    z-index: 1;
  }

  .action-button {
    width: 3.75rem;
  }

  .status {
    display: block !important;
    width: 3.75rem;
  }

  .swal-css .swal2-popup {
    color: rgb(255, 255, 255);
    background-color: rgba(51, 45, 45, .75);
    backdrop-filter: blur(8px);
    border-radius: 1.5rem;
  }

  .swal-css .swal2-confirm {
    color: rgb(51, 45, 45);
    background-color: rgb(255, 255, 255);
  }
</style>

<!-- navbar included -->
<%- include('navbar') %>

  <!-- sidenav included -->
  <%- include('sidenav') %>

    <!-- users table container -->
    <div class="table-responsive">
      <table class="table table-bordered align-middle mb-0 bg-white">
        <thead class="text-white">
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Joined</th>
            <th>Last Updated</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user=> { %>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <p class="fw-bold mb-1 name">
                      <%= user.name %>
                    </p>
                    <p class="text-muted mb-0 email">
                      <%= user.email %>
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-0">
                  <%= user.phone %>
                </p>
              </td>
              <td>
                <p class="fw-normal mb-1">
                  <%= new Date(user.createdAt).toDateString() %>
                </p>
                <p class="fw-normal mb-0">
                  <%= new Date(user.createdAt).toTimeString().slice(0, 8) %>
                </p>
              </td>
              <td>
                <p class="fw-normal mb-1 updated-date">
                  <%= new Date(user.updatedAt).toDateString() %>
                </p>
                <p class="fw-normal mb-0 updated-time">
                  <%= new Date(user.updatedAt).toTimeString().slice(0, 8) %>
                </p>
              </td>
              <td>
                <span
                  class="badge status <%= user.isBlocked ? 'badge-danger' : 'badge-success' %> rounded-pill d-inline">
                  <%= user.isBlocked ? 'Blocked' : 'Active' %>
                </span>
              </td>
              <td>
                <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold action-button"
                  data-mdb-ripple-color="dark" data-user-id="<%= user._id %>">
                  <i class="user-icon fa-duotone fa-solid <%= user.isBlocked ? 'fa-user-slash' : 'fa-user' %> fa-xl"
                    style="--fa-primary-color: #4f4f4f; --fa-secondary-color: #a6a6a6; --fa-secondary-opacity: 1;"></i>
                </button>
              </td>
            </tr>
            <% }) %> %>
        </tbody>
      </table>
    </div>

    <!-- footer included -->
    <%- include('footer') %>

      <!-- javaScript -->
      <script>
        // after redirection, remove the query parameter from the URL
        window.history.replaceState(null, null, window.location.pathname);

        // dynamically adds padding to table container
        const navHeight2 = document.getElementsByTagName('nav')[0].offsetHeight;
        document.getElementsByClassName('table-responsive')[0].style.paddingTop = `${navHeight2 - 1}px`;

        // using fetch to block/unblock users        
        document.addEventListener('DOMContentLoaded', function () {
          // Select all action buttons
          const actionButtons = document.querySelectorAll('.action-button');

          // Add click event listener to each button
          actionButtons.forEach(button => {
            button.addEventListener('click', function (event) {
              // Traverse up to the row element (tr)
              const row = event.target.closest('tr');

              // Find the element within the same row
              const userId = this.getAttribute('data-user-id');
              const dateElement = row.querySelector('.updated-date');
              const timeElement = row.querySelector('.updated-time');
              const statusElement = row.querySelector('.status');
              const iconElement = row.querySelector('.user-icon');

              fetch('/admin/customers', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ userId })
              }).then(response => response.json())
                .then(data => {
                  if (data.error) {
                    Swal.fire({
                      title: 'Error!',
                      text: 'Something went wrong. Try again',
                      icon: 'error',
                      confirmButtonText: 'OK',
                      allowOutsideClick: false,
                      customClass: {
                        container: 'swal-css'
                      }
                    });
                  } else if (data.isBlocked) {
                    dateElement.innerText = new Date(data.lastUpdated).toDateString();
                    timeElement.innerText = new Date(data.lastUpdated).toTimeString().slice(0, 8);

                    statusElement.innerText = 'Blocked';
                    statusElement.classList.add('badge-danger');

                    iconElement.classList.add('fa-user-slash');
                  } else {
                    dateElement.innerText = new Date(data.lastUpdated).toDateString();
                    timeElement.innerText = new Date(data.lastUpdated).toTimeString().slice(0, 8);

                    statusElement.innerText = 'Active';
                    statusElement.classList.remove('badge-danger');
                    statusElement.classList.add('badge-success');

                    iconElement.classList.remove('fa-user-slash');
                    iconElement.classList.add('fa-user');
                  }
                })
                .catch(err => {
                  console.log(err);
                })
            });
          });
        });

        // for searching customers
        const searchButton = document.getElementById('search-button');
        const searchInput = document.getElementById('search-input');
        const tableRows = document.querySelectorAll('tbody tr');

        // Add event listener to the search input
        searchButton.addEventListener('click', function () {
          const searchTerm = searchInput.value.toLowerCase();
          let flag = 1;

          tableRows.forEach(row => {
            // Get user name from the current row
            const name = row.querySelector('.name').innerText.toLowerCase();

            // Check if the search term is in the name
            if (name.includes(searchTerm)) {
              flag = 0;

              row.style.display = ''; // Show the row
            } else {
              row.style.display = 'none'; // Hide the row
            }
          });

          if (flag) {
            Swal.fire({
              icon: "warning",
              title: "Sorry",
              text: "No customers found",
              confirmButtonText: "OK",
              allowOutsideClick: false,
              customClass: {
                container: 'swal-css'
              }
            }).then(() => {
              searchInput.value = '';
              searchButton.click();
            });
          }
        });
      </script>