<!-- styles -->
<style>
  nav {
    z-index: 1;
  }

  /* unfocused borders and label*/
  .form-outline .form-control~.form-notch .form-notch-trailing {
    border-top: .125rem solid #000000;
    border-right: .125rem solid #000000;
    border-bottom: .125rem solid #000000;
  }

  .form-outline .form-control~.form-notch .form-notch-middle {
    border-bottom: .125rem solid #000000;
    border-top: .125rem solid #000000;
  }

  .form-outline .form-control~.form-notch .form-notch-leading {
    border-top: .125rem solid #000000;
    border-bottom: .125rem solid #000000;
    border-left: .125rem solid #000000;
  }

  .form-outline .form-control~.form-label {
    color: #000000;
  }

  /* focused borders and label*/
  .form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid #000000;
    border-bottom: .125rem solid #000000;
    border-left: .125rem solid #000000;
    box-shadow: none;
  }

  .form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-top: .125rem solid #000000;
    border-right: .125rem solid #000000;
    border-bottom: .125rem solid #000000;
    box-shadow: none;
  }

  .form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-top: 0;
    border-bottom: .125rem solid #000000;
    box-shadow: none;
  }

  .form-outline .form-control:focus~.form-label {
    color: #000000;
    box-shadow: none;
  }

  #category-list {
    max-width: 12rem;
    max-height: 11.375rem;
    overflow-y: scroll;
    padding: .3125rem;
  }

  #category-list>li:first-child {
    border-top: 1px solid #e0e0e0;
  }

  #nav-links {
    position: relative;
  }

  #nav-links::after {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 0;
    height: .5px;
    left: 0;
    bottom: -1 px;
  }

  #nav-links:hover::after {
    width: 100%;
    transition: all 250ms linear;
  }

  .nav-link-underline {
    border-bottom: 1px solid #000;
  }
</style>

<!-- navbar -->
<nav class="position-fixed w-100 navbar navbar-expand-lg bg-light ps-sm- pe-sm- ps-md-3 pe-md-3 ps-lg-5 pe-lg-5">
  <div class="container-fluid">
    <!-- branding -->
    <a class="navbar-brand fs-3 fw-bold" href="/home">Puzzle Box</a>
    <ul class="navbar-nav d-flex flex-row ms-lg-4 ms-auto">
      <!-- Icons -->
      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#">
          <i class="fa-duotone fa-solid fa-heart fa-xl" style="--fa-secondary-color: #ff0000; --fa-secondary-opacity: 1;"></i>
          <span class="badge rounded-pill badge-notification bg-white text-black"><%= user ? '0' : '' %></span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="#">
          <i class="fa-duotone fa-solid fa-cart-shopping fa-lg" style="--fa-primary-color: #000000; --fa-secondary-color: #66ff00; --fa-secondary-opacity: 1;"></i>
          <span class="badge rounded-pill badge-notification bg-white text-black"><%= user ? '0' : '' %></span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-0 dropdown">
        <a data-mdb-dropdown-init class="nav-link" href="#" id="navbarDropdown" role="button" aria-expanded="false" data-mdb-toggle="dropdown">
          <i class="fa-duotone fa-solid fa-user fa-lg" style="--fa-primary-color: #ffa914; --fa-secondary-color: #000000; --fa-secondary-opacity: 1;"></i>
          <span class="badge rounded-pill badge-notification text-white <%= user ? 'bg-success' : 'bg-danger' %>">
            <%= user ? '✓' : '✕' %>
          </span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if (user) { %>
          <li>
            <a class="dropdown-item text-dark" href="/profile">Profile</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <% } %>
          <li>
            <form method="<%= user ? 'post' : 'get' %>" action="<%= user ? '/logout' : '/login' %>">
              <input class="p-1 w-100 hover-shadow <%= user ? 'bg-danger' : 'bg-secondary' %>" type="submit" value="<%= user ? 'Logout' : 'Login' %>">
            </form>
          </li>
        </ul>
      </li>
    </ul>
    <!-- navbar collapse button -->
    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarTogglerDemo02" data-mdb-toggle="collapse" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i id="toggler-icon" class="fa-regular fa-bars fa-lg" style="color: #000000;"></i>
    </button>
    <!-- nav links -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto ms-lg-5 mb-2 mb-lg-0">
        <li class="nav-item <%= content === 'explore' ? 'nav-link-underline' : '' %>" id="nav-links">
          <a class="nav-link active" aria-current="page" href="/products">Explore</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown <%= content === 'category' ? 'nav-link-underline' : '' %>" id="nav-links">
          <a data-mdb-dropdown-init class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" aria-expanded="false" data-mdb-toggle="dropdown">
            Categories
          </a>
          <!-- dropdown links -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="category-list">
            <% activeCategoryNames.forEach(categoryName => { %>
            <li class="nav-item border-bottom px-3 hover-shadow">
              <a class="nav-link active" href="/products?productCategory=<%= categoryName %>"><%= categoryName %></a>
            </li>
            <% }) %>
          </ul>
        </li>
        <li class="nav-item <%= content === 'about' ? 'nav-link-underline' : '' %>" id="nav-links">
          <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item <%= content === 'contact' ? 'nav-link-underline' : '' %>" id="nav-links">
          <a class="nav-link active" href="#">Contact</a>
        </li>
      </ul>
      <!-- search input -->
      <form class="d-flex input-group w-auto ms-lg-5">
        <div class="form-outline" data-mdb-input-init>
          <input id="search-input" type="search" class="form-control" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button data-mdb-ripple-init id="search-button" type="button" class="btn btn-dark shadow-0">
          <i class="fa-duotone fa-solid fa-magnifying-glass fa-xl" style="--fa-primary-color: #ffa200; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<!-- alert box included -->
<%- include('alert') %>

<!-- javaScript -->
<script>
  // for changing navbar toggler icon
  document.getElementsByClassName('navbar-toggler')[0].addEventListener('click', function() {
    const collapse = document.getElementsByClassName('navbar-collapse')[0];
    const togglerIcon = document.getElementById('toggler-icon');

    // create a mutation observer to watch for class changes
    const observer = new MutationObserver(mutationsList => {
      for (const mutation of mutationsList) {
        if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
          // check if the class is present
          if (collapse.classList.contains('show')) {
            togglerIcon.classList.add('fa-xmark-large');
            observer.disconnect();
          } else {
            togglerIcon.classList.remove('fa-xmark-large');
          }
        }
      }
    });

    // start observing the target node for configured mutations
    observer.observe(collapse, {
      attributes: true
    });
  });

  // will clear search input value when page shows
  window.addEventListener('pageshow', function(event) {
    document.getElementById('search-input').value = '';
  });
</script>