<!-- ------------------------------- styles -------------------------------- -->
<style>
  .order-container {
    flex-grow: 1;
    padding-top: 6.25rem;
    padding-bottom: 2.875rem;
  }

  #progressbar-1 {
    color: #455A64;
  }

  #progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
  }

  #progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
  }

  #progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
  }

  #progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
  }

  #progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
  }

  #progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
  }

  #progressbar-1 li:nth-child(2):after {
    left: 50%
  }

  #progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
  }

  #progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
  }

  #progressbar-1 li.active:before,
  #progressbar-1 li.active:after {
    background: #00a30e;
  }

  .card-stepper {
    z-index: 0
  }
</style>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- navbar included --------------------------- -->
<%- include('navbar') %>
<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- order container -------------------------- -->
<div class="order-container">
  <!-- ----------------------- order details section ----------------------- -->
  <section>
    <div class="container px-4 px-sm-2 pt-md-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8">
          <h5 class="mb-0 h3 text-dark">ORDERS - <%= orders.length %> item(s)</h5>
          <hr class="mb-4">
          <% if(orders.length!=0) { %>
          <% orders.forEach((ele,index)=> { %>
          <div class="card card-stepper mb-4" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="text-muted mb-2"> Order ID: <span class="fw-bold text-body"><%= ele.id %></span></p>
                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body"><%= new Date(ele.createdAt).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></span> </p>
                </div>
                <div>
                  <button class="btn btn-dark"><i class="fa-duotone fa-solid fa-download fa-xl me-3" style="--fa-primary-color: #a0aabb; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>invoice</button>
                  <button class="btn btn-dark"><i class="fa-duotone fa-solid fa-rotate-left fa-xl me-3" style="--fa-primary-color: #a0aabb; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>return order</button>
                </div>
              </div>
            </div>
            <div class="card-body p-4">
              <% ele.products.forEach((product,index)=> { %>
              <div class="d-flex flex-row mb-4 pb-2">
                <div class="flex-fill">
                  <a href="/product-details?productId=<%= product.productID._id %>&productCategory=<%= product.productID.productCategory.categoryName %>" class="text-dark d-inline-block">
                    <p class="h5"><%= product.productName %></p>
                  </a>
                  <p class="text-muted"> Qt: <%= product.quantity %></p>
                  <h4 class="mb-3"> ₹ <%= Math.round(product.price - (product.price * product.discount / 100)).toLocaleString() %> <span class="small text-muted"> via <%= ele.paymentMethod %> </span></h4>
                  <p class="text-muted">Tracking Status on: <span class="text-body"><%= new Date().toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) %>, Today</span></p>
                </div>
                <!-- Image -->
                <div class="col-2">
                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <a href="/product-details?productId=<%= product.productID._id %>&productCategory=<%= product.productID.productCategory.categoryName %>">
                    <img src="<%= product.productImage %>" class="w-100" alt="" width="120" />
                  </a>
                </div>
                </div>
                <!-- Image -->
              </div>
              <% }) %>
              <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                <li class="step0 active" id="step1"><span style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
                <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
                <li class="step0 text-muted text-end" id="step3"><span style="margin-right: 22px;">DELIVERED</span></li>
              </ul>
            </div>
            <div class="card-footer p-4">
              <h1 class="h5 mb-3">Shipping Address</h1>
              <p><%= ele.address.contactName + ', ' + ele.address.house + ', ' + ele.address.area + ', ' + ele.address.city + ', ' + ele.address.state + ', ' + 'Pin: ' + ele.address.pincode + ', ' + 'Phone: ' + ele.address.phone %></p>
            </div>
          </div>          
          <% }) %>
          <% } else { %>
          <p class="h4">You have no orders yet...</p>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- pagination included --------------------------- -->
  <%- include('pagination') %>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- testimonials included --------------------------- -->
  <%- include('testimonial') %>
  <!-- ----------------------------------------------------------------------- -->
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- footer included --------------------------- -->
<%- include('footer') %>
<!-- ----------------------------------------------------------------------- -->