<!-- ------------------------------- styles -------------------------------- -->
<style>
  .order-container {
    flex-grow: 1;
    padding-top: 6.25rem;
    padding-bottom: 2.875rem;
  }

  #progressbar-1 {
    color: #455A64;
    /* margin-bottom: 4rem !important; */
  }

  #progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
  }

  #progressbar-1 #step1:before {
    content: "1";
    color: #fff;
    width: 29px;
    margin-left: 22px;
    padding-left: 11px;
  }

  #progressbar-1 #step2:before {
    content: "2";
    color: #fff;
    width: 29px;
  }

  #progressbar-1 #step3:before {
    content: "3";
    color: #fff;
    width: 29px;
    margin-right: 22px;
    text-align: center;
  }

  #progressbar-1 li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #455A64;
    border-radius: 50%;
    margin: auto;
  }

  #progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: #455A64;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
  }

  #progressbar-1 li:nth-child(2):after {
    left: 50%
  }

  #progressbar-1 li:nth-child(1):after {
    left: 25%;
    width: 121%
  }

  #progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 50%;
  }

  #progressbar-1 li.active:before,
  #progressbar-1 li.active:after {
    background: #00a30e;
  }

  .card-stepper {
    z-index: 0
  }
</style>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- navbar included --------------------------- -->
<%- include('navbar') %>
<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- order container -------------------------- -->
<div class="order-container">
  <!-- ----------------------- order details section ----------------------- -->
  <section>
    <div class="container px-4 px-sm-2 pt-md-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-10 col-lg-8">
          <h5 class="mb-4 h4 text-dark border-bottom border-3 border-dark d-inline-block pb-1">ORDERS - <%= orderCount %> item(s)</h5>
          <% let totalPriceWithoutDiscount = 0 %>
          <% if(orders.length!=0) { %>
          <% orders.forEach((ele,index)=> { %>
          <div class="card card-stepper mb-4" style="border-radius: 16px;">
            <div class="card-header p-4">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <%function scrambleString(str) { %>
                  <% let shufflePattern = [12, 5, 19, 2, 17, 0, 22, 9, 14, 8, 3, 15, 1, 18, 6, 11, 4, 13, 7, 10, 16, 21, 20, 23]; %>
                  <% let scrambledArray = []; %>

                  <% shufflePattern.forEach((newIndex, i) => { %>
                  <% scrambledArray[i] = str[newIndex]; %>
                  <% }) %>

                  <% scrambledArray.splice(20); %>
                  <% return scrambledArray.join(''); %>
                  <% } %>

                  <% let orderID = scrambleString(ele.id); %>
                  <p class="text-muted mb-2"> Order ID: <span class="fw-bold text-body"><%= orderID %></span></p>
                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body"><%= new Date(ele.createdAt).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' }) %></span> </p>
                </div>
                <div class="d-none d-md-block">
                  <button class="btn btn-dark"><i class="fa-duotone fa-solid fa-download fa-xl me-3" style="--fa-primary-color: #a0aabb; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>invoice</button>
                </div>
              </div>
              <div class="mt-3 d-md-none">
                <button class="btn btn-dark"><i class="fa-duotone fa-solid fa-download fa-xl me-3" style="--fa-primary-color: #a0aabb; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>invoice</button>
              </div>
            </div>
            <div class="card-body p-4 pb-0">
              <% ele.products.forEach((product,index,array)=> { %>
              <% totalPriceWithoutDiscount += product.price * product.quantity %>
              <div class="d-flex flex-row mb-3 mb-lg-3 pb-2">
                <div class="flex-fill">
                  <a href="/product-details?productId=<%= product.productID._id %>&productCategory=<%= product.productID.productCategory.categoryName %>" class="text-dark d-inline-block">
                    <p class="h5"><%= product.productName %></p>
                  </a>
                  <p class="text-muted"> Qt: <%= product.quantity %></p>
                  <button class="mt-2 btn btn-danger btn-sm shadow-0 text-black open-modal-btn" data-mdb-modal-init data-mdb-target="#exampleModal" type="button"><i class="fa-duotone fa-solid fa-ban fa-xl me-3" style="--fa-primary-color: #000000; --fa-secondary-color: #000000; --fa-secondary-opacity: 1;"></i>cancel order</button>
                </div>
                <!-- Image -->
                <div class="col-2">
                  <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                    <a href="/product-details?productId=<%= product.productID._id %>&productCategory=<%= product.productID.productCategory.categoryName %>">
                      <img src="<%= product.productImage %>" class="w-100" alt="" width="120" />
                    </a>
                  </div>
                </div>
                <!-- Image -->
              </div>
              <p class="text-muted text-center">Tracking Status on: <span class="text-body"><%= new Date().toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) %>, Today</span></p>
              <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                <li class="step0 active" id="step1"><span style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
                <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
                <li class="step0 text-muted text-end" id="step3"><span style="margin-right: 22px;">DELIVERED</span></li>
              </ul>
              <% if (index !== array.length - 1) { %>
              <div class="mb-4 p-0 card-header"></div>
              <% } %>
              <% }) %>
            </div>
            <div class="card-footer">
              <h4 class="mb-3 mt-2"> ₹ <%= ele.totalPrice.toLocaleString() %> <span class="small text-muted"> via <%= ele.paymentMethod %> </span></h4>
              <h4 class="h5"><span class="small text-muted">Total Savings :</span> ₹ <%= ele.totalPrice < totalPriceWithoutDiscount ? (totalPriceWithoutDiscount - ele.totalPrice).toLocaleString() : '0' %></h4>
            </div>
            <div class="card-footer p-4">
              <h1 class="h5 mb-3">Shipping Address</h1>
              <p class="m-0"><%= ele.address.contactName + ', ' + ele.address.house + ', ' + ele.address.area + ', ' + ele.address.city + ', ' + ele.address.state + ', ' + 'Pin: ' + ele.address.pincode + ', ' + 'Phone: ' + ele.address.phone %></p>
            </div>
          </div>
          <% totalPriceWithoutDiscount = 0 %>
          <% }) %>
          <% } else { %>
          <p class="h4">You have no orders yet...</p>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->

  <!-- -------------------- modal for order return --------------------- -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Return Order</h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select id="return" data-mdb-select-init class="form-control select">
            <option value="" selected disabled>Choose Return Reason</option>
            <option value="1">Damaged or defective product</option>
            <option value="2">Incorrect item received</option>
            <option value="3">Poor quality</option>
            <option value="4">Product not as described</option>
            <option value="5">Change of mind</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary ms-auto shadow-0" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success me-auto shadow-0" data-mdb-ripple-init>Apply</button>
        </div>
      </div>
    </div>
  </div> -->
  <!-- ----------------------------------------------------------------------- -->

  <!-- -------------------- modal for order cancellation --------------------- -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
          <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <select id="return" data-mdb-select-init class="form-control select">
            <option value="" selected disabled>Choose Cancel Reason</option>
            <option value="1">Incorrect item ordered</option>
            <option value="2">Change of mind</option>
            <option value="3">Delayed delivery</option>
            <option value="4">Found a better price elsewhere</option>
            <option value="5">Payment issues</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary ms-auto shadow-0" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success me-auto shadow-0" data-mdb-ripple-init>Apply</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- pagination included --------------------------- -->
  <%- include('pagination') %>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- testimonials included --------------------------- -->
  <%- include('testimonial') %>
  <!-- ----------------------------------------------------------------------- -->
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- footer included --------------------------- -->
<%- include('footer') %>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------- javaScript ------------------------------ -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Modal Initialization
    const modalElement = document.getElementById('exampleModal');
    let modalInstance = mdb.Modal.getInstance(modalElement);

    // If no instance exists, create a new one
    if (!modalInstance) {
      modalInstance = new mdb.Modal(modalElement);
    }

    // Open modal on button click
    document.querySelectorAll('.open-modal-btn').forEach(ele => {
      ele.addEventListener('click', function() {
        modalInstance.show();
      });
    });
  });
</script>
<!-- ----------------------------------------------------------------------- -->