<!-- ----------------------------- pagination ------------------------------ -->
<nav aria-label="Page navigation example" class="mt-5">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" onclick="previousPage('<%= parseInt(currentPage) %>')">Previous</a>
    </li>
    <% for(let i = 1; i <= pageNumber; i++) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= i %>&searchTerm=<%= typeof search !== 'undefined' ? search : '' %>&minPrice=<%= typeof minPrice !== 'undefined' ? minPrice : '' %>&maxPrice=<%= typeof maxPrice !== 'undefined' ? maxPrice : '' %>&productCategory=<%= typeof selectedCategory !== 'undefined' ? selectedCategory : '' %>&sort=<%= typeof sort !== 'undefined' ? sort : '' %>"><%= i %></a>
    </li>
    <% } %>
    <li class="page-item">
      <a class="page-link" href="#" onclick="nextPage('<%= parseInt(currentPage) %>','<%= pageNumber %>')">Next</a>
    </li>
  </ul>
</nav>
<!-- ----------------------------------------------------------------------- -->


<!-- ----------------------------- javaScript ------------------------------ -->
<script>
  // next page
  function nextPage(currentPage, totalPage) {
    if (Number(currentPage) < Number(totalPage)) {
      const params = new URLSearchParams(window.location.search);

      params.set('page', Number(currentPage) + 1);

      window.location.href = `?${params.toString()}`;
    }
  }

  // previous page
  function previousPage(currentPage) {
    if ((Number(currentPage) - 1) != 0) {
      const params = new URLSearchParams(window.location.search);

      params.set('page', Number(currentPage) - 1);
      
      window.location.href = `?${params.toString()}`;
    }
  }
</script>
<!-- ----------------------------------------------------------------------- -->