<!-- ------------------------------- styles -------------------------------- -->
<style>
  .product-container {
    flex-grow: 1;
    padding-top: 6.25rem;
    padding-bottom: 2.875rem;
  }

  small {
    display: none;
    font-size: .75rem;
  }

  .remove-rating {
    cursor: pointer;
  }

  @media (max-width: 47.9988em) {
    .hero-image {
      background-image: url('/image/hero-image.webp');
      border-radius: 24px;
      background-color: rgba(0, 0, 0, 0.5);
      background-blend-mode: overlay;
      color: white;
    }

    .hero-image button {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }

    .hero-image button:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }

    .hero-image div {
      backdrop-filter: blur(4px);
    }
  }
</style>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- navbar included --------------------------- -->
<%- include('navbar') %>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- home container ---------------------------- -->
<div class="product-container">
  <!-- ------------------------ all products section ------------------------- -->
  <section>
    <div class="container pt-4 px-4 px-sm-2">
      <h2 class="border-bottom border-3 border-dark d-inline-block text-dark">ALL PUZZLES</h2>
      <div class="row mt-4">
        <div class="row mb-4">
          <div class="col-auto">
            <button class="btn btn-primary" id="sortButton"><i class="fa-regular fa-bars-sort me-2" style="color: #ffffff;"></i> filter options</button>
          </div>
        </div>
        <% activeProducts.forEach(product=> { %>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="card shadow-l hover-shadow badge-light">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="<%= product.productImage[0] %>" class="w-100" />
              <a href="/product-details?productId=<%= product._id %>&productCategory=<%= product.productCategory.categoryName %>">
                <div class="mask">
                  <% if (product.isFeatured) { %>
                  <div class="d-flex justify-content-end align-items-start h-50">
                    <span class="badge badge-dark p-2 mt-1 me-1">
                      <i class="fa-duotone fa-solid fa-sparkles fa-rotate-by fa-xl me-2" style="--fa-primary-color: #fff700; --fa-secondary-color: #fffcad; --fa-secondary-opacity: 1;"></i>Featured
                    </span>
                  </div>
                  <% } %>
                  <div class="d-flex justify-content-start align-items-end h-50 <%= product.isFeatured ? '' : 'h-100' %>">
                    <h5>
                      <span class="badge ms-2 p-1 <% if (product.productDifficultyRate > 6) { %>
                          badge-danger
                        <% } else if (product.productDifficultyRate > 3) { %>
                          badge-primary
                        <% } else { %>
                          badge-success
                        <% } %>">
                        <% if (product.productDifficultyRate> 6) { %>
                        Hard
                        <% } else if (product.productDifficultyRate> 3) { %>
                        Medium
                        <% } else { %>
                        Easy
                        <% } %>
                      </span><span class="badge badge-light ms-2 p-1"><%= product.productDiscount !== 0 ? '-' + product.productDiscount + '%' : '' %></span>
                    </h5>
                  </div>
                </div>
              </a>
            </div>
            <div class=" card-body">
              <a href="/product-details?productId=<%= product._id %>&productCategory=<%= product.productCategory.categoryName %>" class="text-reset">
                <h5 class="card-title mb-0 text-dark text-truncate">
                  <%= product.productName %>
                </h5>
                <small class="d-inline"><%= product.productCategory.categoryName %></small>
              </a>
              <div class="row">
                <div class="col me-auto">
                  <h6 class="mb-4 mt-3">
                    <s class="text-danger"><%= product.productDiscount !== 0 ? '₹ ' + product.productPrice.toLocaleString() : '' %></s><strong class="<%= product.productDiscount !== 0 ? 'ms-2' : '' %> text-dark">₹ <%= product.productDiscountedPrice.toLocaleString() %></strong>
                  </h6>
                </div>
                <div class="col-auto">
                  <h6 class="mb-4 mt-3 badge <% if (product.productQuantity > 10) { %>
                    badge-success
                  <% } else if (product.productQuantity > 0) { %>
                    badge-warning
                  <% } else { %>
                    badge-danger
                  <% } %>">
                    <% if (product.productQuantity> 10) { %>
                    In stock
                    <% } else if (product.productQuantity> 0) { %>
                    Only <%= product.productQuantity %> left
                    <% } else { %>
                    Out of stock
                    <% } %>
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <% let flag = 1 %>
                  <% productReviews.forEach(ele => { %>
                  <% if (product._id.toString() === ele.productID._id.toString()) { %>
                  <% let rating = ele.averageRating.toFixed() %>
                  <ul class="rating d-flex justify-content-center">
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Bad"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Poor"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="OK"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Good"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Excellent"></i>
                    </li>
                  </ul>
                  <% flag = 0 %>
                  <% return %>
                  <% } %>
                  <% }) %>
                  <% if (flag) { %>
                  <ul class="rating d-flex justify-content-center">
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Bad"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Poor"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="OK"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Good"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Excellent"></i>
                    </li>
                  </ul>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->

  <!-- ------------------------- sort options modal -------------------------- -->
  <div class="modal" tabindex="-1" id="sortModal">
    <div class="modal-dialog modal-side modal-top-left modal-dialog-centered modal-sm">
      <div class="modal-content align-items-center">
        <div class="modal-header">
          <h5 class="modal-title">FILTER BY</h5>
        </div>
        <div class="modal-body">
          <ul class="navbar-nav mb-3">
            <li class="nav-item px-3">
              <select data-mdb-select-init class="form-control select" name="productCategory">
                <option value="" disabled selected hidden>Categories</option>
                <option value="">None</option>
                <% if (activeCategoryNames.length===0) { %>
                <option value="">-</option>
                <% } %>
                <% activeCategoryNames.forEach(category=> { %>
                <option value="<%= category %>">
                  <%= category %>
                </option>
                <% }) %>
              </select>
            </li>
          </ul>
          <hr class="mt-2 mb-2">
          <p class="mb-1 mt-2">Price</p>
          <small id="price-alert" class="text-danger"></small>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Min</span>
            <input type="tel" class="form-control" placeholder="value" aria-label="Recipient's username" aria-describedby="basic-addon2" name="minPrice" />
            <span class="input-group-text" id="basic-addon2">Max</span>
            <input type="tel" class="form-control" placeholder="value" aria-label="Recipient's username" aria-describedby="basic-addon2" name="maxPrice" />
          </div>
          <hr class="mt-2 mb-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="featured" id="flexRadioDefault6" value="featured" />
            <label class="form-check-label" for="flexRadioDefault6"> Featured </label>
          </div>
          <hr class="mt-2 mb-2">
          <div class="form-check">
            <input class="form-check-input filter-checkbox" type="checkbox" name="inStock" id="flexRadioDefault9" value="1" onclick="handleFilterCheckbox(this)" />
            <label class="form-check-label" for="flexRadioDefault9"> In stock </label>
          </div>
          <hr class="mt-2 mb-2">
          <div class="form-check">
            <input class="form-check-input filter-checkbox" type="checkbox" name="outOfStock" id="flexRadioDefault10" value="0" onclick="handleFilterCheckbox(this)" />
            <label class="form-check-label" for="flexRadioDefault10"> Out of stock </label>
          </div>
          <hr class="mt-2 mb-2">
          <p class="text-center mb-1">Rating</p>
          <ul class="rating rating-filter justify-content-center" data-mdb-toggle="rating">
            <li>
              <i class="far fa-star fa-sm text-warning" title="Bad"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning" title="Poor"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning" title="OK"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning" title="Good"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning" title="Excellent"></i>
            </li>
          </ul>
          <div class="text-center">
            <small class="d-inline text-decoration-underline remove-rating">Remove</small>
          </div>
          <hr class="mt-2">
          <!-- Dropdown -->
          <div class="dropup">
            <button class="btn btn-dark btn-sm shadow-0 dropdown-toggle" type="button" id="dropdownMenu" data-mdb-toggle="dropdown" aria-expanded="false">
              sort by
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li class="nav-item border-bottom p-3">
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault1" value="lowToHigh" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault1"> Price low to high </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault5" value="highToLow" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault5"> Price high to low </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault20" value="discountLowToHigh" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault20"> Discount low to high </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault11" value="discountHighToLow" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault11"> Discount high to low </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault2" value="aToZ" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault2"> A to Z </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault3" value="zToA" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault3"> Z to A </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault4" value="newArrivals" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault4"> New arrivals </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input sort-checkbox" type="checkbox" name="sort" id="flexRadioDefault7" value="popularity" onclick="handleSortCheckbox(this)" />
                  <label class="form-check-label" for="flexRadioDefault7"> Popularity </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary shadow-0" data-mdb-ripple-init data-mdb-dismiss="modal">Close</button>
          <button type="button" id="applySort" class="btn btn-success shadow-0" data-mdb-ripple-init>Apply</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- pagination included --------------------------- -->
  <%- include('pagination') %>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- testimonials included --------------------------- -->
  <%- include('testimonial') %>
  <!-- ----------------------------------------------------------------------- -->
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- footer included --------------------------- -->
<%- include('footer') %>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------- javaScript ------------------------------ -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Sort Modal Initialization
    const modalElement = document.getElementById('sortModal')
    let modalInstance = mdb.Modal.getInstance(modalElement);

    // If no instance exists, create a new one
    if (!modalInstance) {
      modalInstance = new mdb.Modal(modalElement);
    }

    // Open modal on button click
    document.getElementById('sortButton').addEventListener('click', function() {
      modalInstance.show();
    });

    // will assign rating value
    let productRating = 0;
    const ratingElement = document.querySelector('.rating-filter');

    ratingElement.addEventListener('onSelect.mdb.rating', function(event) {
      productRating = event.value;
    });

    // for removing rating if applied in filter
    document.querySelector('.remove-rating').addEventListener('click', function() {
      productRating = 0;
      const stars = ratingElement.querySelectorAll('.far, .fas');

      stars.forEach(star => {
        star.classList.remove('fas');
        star.classList.add('far');
      });

      const oldInstance = mdb.Rating.getInstance(ratingElement);
      
      if (oldInstance) {
        oldInstance.dispose();
      }

      new mdb.Rating(ratingElement, {
        value: 0
      });
    });

    // function for toggling filter check boxes
    window.handleFilterCheckbox = function(checkbox) {
      const checkboxes = document.getElementsByClassName('filter-checkbox');

      for (let item of checkboxes) {
        if (item !== checkbox) {
          item.checked = false;
        }
      }
    }

    // function for toggling sort check boxes
    window.handleSortCheckbox = function(checkbox) {
      const checkboxes = document.getElementsByClassName('sort-checkbox');

      for (let item of checkboxes) {
        if (item !== checkbox) {
          item.checked = false;
        }
      }
    }

    // for product sorting     
    document.getElementById('applySort').addEventListener('click', function() {
      const categoryName = document.querySelector('[name = "productCategory"]').value;
      const minPrice = document.querySelector('[name = "minPrice"]').value;
      const maxPrice = document.querySelector('[name = "maxPrice"]').value;
      const featured = document.querySelector('input[name="featured"]');
      const inStock = document.querySelector('input[name="inStock"]');
      const outOfStock = document.querySelector('input[name="outOfStock"]');
      const sort = document.querySelector('input[name="sort"]:checked');
      const priceAlert = document.querySelector('#price-alert');

      if (/[a-zA-Z]/.test(minPrice) || /[^\w\s.]|(\..*\.)|(\.$)/.test(minPrice) || /\s/.test(minPrice) || /[a-zA-Z]/.test(maxPrice) || /[^\w\s.]|(\..*\.)|(\.$)/.test(maxPrice) || /\s/.test(maxPrice) || Number(minPrice || 0) > Number(maxPrice || Infinity)) {
        if (/[a-zA-Z]/.test(minPrice) || /[^\w\s.]|(\..*\.)|(\.$)/.test(minPrice) || /[a-zA-Z]/.test(maxPrice) || /[^\w\s.]|(\..*\.)|(\.$)/.test(maxPrice)) {
          priceAlert.style.display = 'inline';
          priceAlert.innerText = `Input is not valid`;
        } else if (/\s/.test(minPrice) || /\s/.test(maxPrice)) {
          priceAlert.style.display = 'inline';
          priceAlert.innerText = `Can't contain spaces`;
        } else {
          priceAlert.style.display = 'inline';
          priceAlert.innerText = `Max should be greater than or equal to Min`;
        }
      } else {
        const queries = {
          productCategory: categoryName,
          minPrice: minPrice,
          maxPrice: maxPrice,
          productRating,
          ...(featured.checked && {
            featured: featured.value
          }),
          ...(inStock.checked && {
            inStock: inStock.value
          }),
          ...(outOfStock.checked && {
            outOfStock: outOfStock.value
          }),
          ...(sort && {
            sort: sort.value
          })
        };

        // convert object to query string
        const queryString = new URLSearchParams(queries).toString();

        window.location.href = `/products?${queryString}`;
      }
    })
  });
</script>
<!-- ----------------------------------------------------------------------- -->