<!-- ------------------------------- styles -------------------------------- -->
<style>
  .wallet-container {
    flex-grow: 1;
    padding-top: 6.25rem;
    padding-bottom: 2.875rem;
  }

  .wallet {
    height: 300px;
    background-image: url('image/wallet.svg');
    background-repeat: no-repeat;
    background-position: left;
  }
</style>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- navbar included --------------------------- -->
<%- include('navbar') %>
<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- wallet container -------------------------- -->
<div class="wallet-container">
  <!-- ----------------------- wallet section ----------------------- -->
  <section class="h-100 gradient-custom">
    <div class="container px-4 px-sm-2 pt-md-3">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-9">
          <h5 class="d-none mb-4 h4 text-dark d-lg-inline-block border-bottom border-3 border-dark pb-1">WALLET</h5>
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Transactions</h5>
            </div>
            <div class="card-body pt-0 pb-0">
              <div class="row mb-4 mt-4">
                <!-- category table container -->
                <div data-mdb-datatable-init="" class="datatable datatable-bordered datatable-hover" data-mdb-datatable-initialized="true" data-mdb-entries="4" data-mdb-full-pagination="true">
                  <div class="datatable-inner table-responsive ps ps--active-x" style="overflow: auto; position: relative;">
                    <table class="table datatable-table" id="exampleTable">
                      <thead class="datatable-header">
                        <tr>
                          <th style="cursor: pointer;" scope="col"><i data-mdb-sort="field_0" class="datatable-sort-icon fas fa-arrow-up"></i> Order ID</th>
                          <th style="cursor: pointer;" scope="col"><i data-mdb-sort="field_1" class="datatable-sort-icon fas fa-arrow-up"></i> Ordered Date</th>
                          <th style="cursor: pointer;" scope="col"><i data-mdb-sort="field_1" class="datatable-sort-icon fas fa-arrow-up"></i> Reason</th>
                          <th style="cursor: pointer;" scope="col"><i data-mdb-sort="field_2" class="datatable-sort-icon fas fa-arrow-up"></i> Transacted On</th>
                          <th style="cursor: pointer;" scope="col"><i data-mdb-sort="field_3" class="datatable-sort-icon fas fa-arrow-up"></i> Amount DR/CR</th>
                          <th style="cursor: pointer;" scope="col"><i data-mdb-sort="field_4" class="datatable-sort-icon fas fa-arrow-up"></i> Balance</th>
                        </tr>
                      </thead>
                      <tbody class="datatable-body">
                        <% wallet?.orderID.forEach(ele=> { %>
                        <tr>
                          <td class="" data-mdb-field="field_0" false="">
                            <p class="fw-bold mb-1 name">
                              <%= ele.order._id %>
                            </p>
                          </td>
                          <td class="" data-mdb-field="field_1" false="">
                            <p class="fw-normal mb-1">
                              <%= new Date(ele.order.createdAt).toDateString() %>
                            </p>
                            <p class="fw-normal mb-0">
                              <%= new Date(ele.order.createdAt).toTimeString().slice(0, 8) %>
                            </p>
                          </td>
                          <td class="" data-mdb-field="field_2" false="">
                            <p class="fw-normal mb-1 updated-date">
                              <%= new Date(category.updatedAt).toDateString() %>
                            </p>
                            <p class="fw-normal mb-0 updated-time">
                              <%= new Date(category.updatedAt).toTimeString().slice(0, 8) %>
                            </p>
                          </td>
                          <td class="" data-mdb-field="field_3" false="">
                            <span class="badge status <%= category.isActive ? 'badge-success' : 'badge-danger' %> rounded-pill d-inline">
                              <%= category.isActive ? 'Active' : 'Inactive' %>
                            </span>
                          </td>
                          <td class="" data-mdb-field="field_4" false="">
                            <!-- active/inactive button -->
                            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold status-button" data-mdb-ripple-color="dark" data-db-categoryId="<%= category._id %>">
                              <i class="fa-duotone fa-solid <%= category.isActive ? 'fa-circle-check' : 'fa-circle-xmark' %> fa-xl status-icon" style="--fa-primary-color: #4f4f4f; --fa-secondary-color: #a6a6a6; --fa-secondary-opacity: 1;"></i>
                            </button>

                            <!-- edit button -->
                            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold edit-button" data-mdb-ripple-color="dark" data-db-categoryId="<%= category._id %>">
                              <i class="fa-duotone fa-solid fa-pen-to-square fa-xl" style="--fa-primary-color: #4f4f4f; --fa-secondary-color: #a6a6a6; --fa-secondary-opacity: 1;"></i>
                            </button>

                            <!-- delete button -->
                            <button type="button" class="btn btn-link btn-rounded btn-sm fw-bold delete-button" data-mdb-ripple-color="dark" data-db-categoryId="<%= category._id %>">
                              <i class="fa-duotone fa-solid fa-trash fa-xl" style="--fa-primary-color: #4f4f4f; --fa-secondary-color: #a6a6a6; --fa-secondary-opacity: 1;"></i>
                            </button>
                          </td>
                        </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-lg-3 order-first order-lg-last">
          <h5 class="h4 text-dark d-lg-none d-inline-block border-bottom border-3 border-dark pb-1">WALLET</h5>
          <div class="card mb-4 shadow-0">
            <div class="card-body wallet d-flex justify-content-lg-center justify-content-cente align-items-center">
              <div class="text-white mt-5 me-4 fst-italic">
                <h4>MY WALLET</h4>
                <h4>Balance:</h4>
                <h3 class="text-decoration-underline">₹ 3999</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- testimonials included --------------------------- -->
  <%- include('testimonial') %>
  <!-- ----------------------------------------------------------------------- -->
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- footer included --------------------------- -->
<%- include('footer') %>
<!-- ----------------------------------------------------------------------- -->