<!-- ------------------------------- styles -------------------------------- -->
<style>
  .wishlist-container {
    flex-grow: 1;
    padding-top: 6.25rem;
    padding-bottom: 2.875rem;
  }

  small {
    font-size: .75rem;
  }
</style>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- navbar included --------------------------- -->
<%- include('navbar') %>
<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- wishlist container -------------------------- -->
<div class="wishlist-container">
  <!-- ----------------------- wishlist section ----------------------- -->
  <section>
    <div class="container pt-4 px-4 px-sm-2">
      <h2 class="border-bottom border-3 border-dark d-inline-block text-dark">WISHLIST - <%= wishlist.length > 0 ? wishlist[0].products.length : '0' %> item(s) </h2>
      <div class="row mt-4">
        <% if (wishlist.length > 0) { %>
        <% wishlist[0].products.forEach(product=> { %>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="card shadow-l hover-shadow badge-light">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="<%= product.productDetails.productImage[0] %>" class="w-100" />
              <a href="/product-details?productId=<%= product.productDetails._id %>&productCategory=<%= product.productDetails.productCategoryDetails.categoryName %>">
                <div class="mask">
                  <% if (product.productDetails.isFeatured) { %>
                  <div class="d-flex justify-content-end align-items-start h-50">
                    <span class="badge badge-dark p-2 mt-1 me-1">
                      <i class="fa-duotone fa-solid fa-sparkles fa-rotate-by fa-xl me-2" style="--fa-primary-color: #fff700; --fa-secondary-color: #fffcad; --fa-secondary-opacity: 1;"></i>Featured
                    </span>
                  </div>
                  <% } %>
                  <div class="d-flex justify-content-start align-items-end h-50 <%= product.productDetails.isFeatured ? '' : 'h-100' %>">
                    <h5>
                      <span class="badge ms-2 p-1 <% if (product.productDetails.productDifficultyRate > 6) { %>
                              badge-danger
                            <% } else if (product.productDetails.productDifficultyRate > 3) { %>
                              badge-primary
                            <% } else { %>
                              badge-success
                            <% } %>">
                        <% if (product.productDetails.productDifficultyRate> 6) { %>
                        Hard
                        <% } else if (product.productDetails.productDifficultyRate> 3) { %>
                        Medium
                        <% } else { %>
                        Easy
                        <% } %>
                      </span><span class="badge badge-light ms-2 p-1"><%= product.productDetails.productDiscount !== 0 ? '-' + product.productDetails.productDiscount + '%' : '' %></span>
                    </h5>
                  </div>
                </div>
              </a>
            </div>
            <div class=" card-body">
              <a href="/product-details?productId=<%= product.productDetails._id %>&productCategory=<%= product.productDetails.productCategoryDetails.categoryName %>" class="text-reset">
                <h5 class="card-title mb-0 text-dark text-truncate">
                  <%= product.productDetails.productName %>
                </h5>
                <small class="d-inline"><%= product.productDetails.productCategoryDetails.categoryName %></small>
              </a>
              <div class="row">
                <div class="col me-auto">
                  <h6 class="mb-4 mt-3">
                    <s class="text-danger"><%= product.productDetails.productDiscount !== 0 ? '₹ ' + product.productDetails.productPrice.toLocaleString() : '' %></s><strong class="<%= product.productDetails.productDiscount !== 0 ? 'ms-2' : '' %> text-dark">₹ <%= product.productDetails.productDiscountedPrice.toLocaleString() %></strong>
                  </h6>
                </div>
                <div class="col-auto">
                  <h6 class="mb-4 mt-3 badge <% if (product.productDetails.productQuantity > 10) { %>
                        badge-success
                      <% } else if (product.productDetails.productQuantity > 0) { %>
                        badge-warning
                      <% } else { %>
                        badge-danger
                      <% } %>">
                    <% if (product.productDetails.productQuantity> 10) { %>
                    In stock
                    <% } else if (product.productDetails.productQuantity> 0) { %>
                    Only <%= product.productDetails.productQuantity %> left
                    <% } else { %>
                    Out of stock
                    <% } %>
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <% let flag = 1 %>
                  <% productReviews.forEach(ele => { %>
                  <% if (product.productDetails._id.toString() === ele.productID._id.toString()) { %>
                  <% let rating = ele.averageRating.toFixed() %>
                  <ul class="rating d-flex justify-content-center">
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Bad"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Poor"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="OK"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Good"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Excellent"></i>
                    </li>
                  </ul>
                  <% flag = 0 %>
                  <% return %>
                  <% } %>
                  <% }) %>
                  <% if (flag) { %>
                  <ul class="rating d-flex justify-content-center">
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Bad"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Poor"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="OK"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Good"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Excellent"></i>
                    </li>
                  </ul>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
        <% } else { %>
        <h3 class="mt-4 h4 mb-4">You have no items yet...</h3>
        <% } %>
      </div>

    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- testimonials included --------------------------- -->
  <%- include('testimonial') %>
  <!-- ----------------------------------------------------------------------- -->
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- footer included --------------------------- -->
<%- include('footer') %>
<!-- ----------------------------------------------------------------------- -->