<!-- ------------------------------- styles -------------------------------- -->
<style>
  .wishlist-container {
    flex-grow: 1;
    padding-top: 6.25rem;
    padding-bottom: 2.875rem;
  }

  small {
    font-size: .75rem;
  }

  .swal-css .swal2-popup {
    color: rgb(255, 255, 255);
    background-color: rgba(51, 45, 45, .75);
    backdrop-filter: blur(8px);
    border-radius: 1.5rem;
  }

  .swal-css .swal2-confirm {
    color: rgb(51, 45, 45);
    background-color: rgb(255, 255, 255);
  }

  .swal-css .swal2-cancel {
    color: rgb(51, 45, 45);
    background-color: rgb(255, 255, 255);
  }

  .swal-css .swal2-input {
    box-shadow: none;
    border-color: rgb(255, 255, 255);
  }

  .swal2-success-circular-line-left,
  .swal2-success-fix,
  .swal2-success-circular-line-right {
    background-color: transparent !important
  }
</style>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- navbar included --------------------------- -->
<%- include('navbar') %>
<!-- ----------------------------------------------------------------------- -->

<!-- -------------------------- wishlist container -------------------------- -->
<div class="wishlist-container">
  <!-- ----------------------- wishlist section ----------------------- -->
  <section>
    <div class="container pt-4 px-4 px-sm-2">
      <h2 class="border-bottom border-3 border-dark d-inline-block text-dark" id="main-title">WISHLIST - <%= wishlist.length > 0 ? wishlist[0].products.length : '0' %> item(s) </h2>
      <div class="row mt-4">
        <% if (wishlist.length > 0) { %>
        <% wishlist[0].products.forEach((product,index)=> { %>
        <div class="col-xl-3 col-lg-4 col-md-6 mb-4 product-tile">
          <div class="card shadow-l hover-shadow badge-light">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img src="<%= product.productDetails.productImage[0] %>" class="w-100" />
              <a href="/product-details?productId=<%= product.productDetails._id %>&productCategory=<%= product.productDetails.productCategoryDetails.categoryName %>">
                <div class="mask">
                  <% if (product.productDetails.isFeatured) { %>
                  <div class="d-flex justify-content-end align-items-start h-50">
                    <span class="badge badge-dark p-2 mt-1 me-1">
                      <i class="fa-duotone fa-solid fa-sparkles fa-rotate-by fa-xl me-2" style="--fa-primary-color: #fff700; --fa-secondary-color: #fffcad; --fa-secondary-opacity: 1;"></i>Featured
                    </span>
                  </div>
                  <% } %>
                  <div class="d-flex justify-content-start align-items-end h-50 <%= product.productDetails.isFeatured ? '' : 'h-100' %>">
                    <h5>
                      <span class="badge ms-2 p-1 <% if (product.productDetails.productDifficultyRate > 6) { %>
                              badge-danger
                            <% } else if (product.productDetails.productDifficultyRate > 3) { %>
                              badge-primary
                            <% } else { %>
                              badge-success
                            <% } %>">
                        <% if (product.productDetails.productDifficultyRate> 6) { %>
                        Hard
                        <% } else if (product.productDetails.productDifficultyRate> 3) { %>
                        Medium
                        <% } else { %>
                        Easy
                        <% } %>
                      </span><span class="badge badge-light ms-2 p-1"><%= product.productDetails.productDiscount !== 0 ? '-' + product.productDetails.productDiscount + '%' : '' %></span>
                    </h5>
                  </div>
                </div>
              </a>
            </div>
            <div class=" card-body">
              <div class="row">
                <div class="col-10">
                  <a href="/product-details?productId=<%= product.productDetails._id %>&productCategory=<%= product.productDetails.productCategoryDetails.categoryName %>" class="text-reset">
                    <h5 class="card-title mb-0 text-dark text-truncate">
                      <%= product.productDetails.productName %>
                    </h5>
                    <small class="d-inline"><%= product.productDetails.productCategoryDetails.categoryName %></small>
                  </a>
                </div>
                <div class="col-auto">
                  <button class="border-0 bg-transparent delete-item" data-product-id="<%= product.productDetails._id %>">
                    <i class="fa-duotone fa-solid fa-trash-can fa-xl" style="--fa-primary-color: #000000; --fa-secondary-color: #ff0000; --fa-secondary-opacity: 1;"></i>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col me-auto">
                  <h6 class="mb-4 mt-3">
                    <s class="text-danger"><%= product.productDetails.productDiscount !== 0 ? '₹ ' + product.productDetails.productPrice.toLocaleString() : '' %></s><strong class="<%= product.productDetails.productDiscount !== 0 ? 'ms-2' : '' %> text-dark">₹ <%= product.productDetails.productDiscountedPrice.toLocaleString() %></strong>
                  </h6>
                </div>
                <div class="col-auto">
                  <h6 class="mb-4 mt-3 badge <% if (product.productDetails.productQuantity > 10) { %>
                        badge-success
                      <% } else if (product.productDetails.productQuantity > 0) { %>
                        badge-warning
                      <% } else { %>
                        badge-danger
                      <% } %>">
                    <% if (product.productDetails.productQuantity> 10) { %>
                    In stock
                    <% } else if (product.productDetails.productQuantity> 0) { %>
                    Only <%= product.productDetails.productQuantity %> left
                    <% } else { %>
                    Out of stock
                    <% } %>
                  </h6>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <% let flag = 1 %>
                  <% productReviews.forEach(ele => { %>
                  <% if (product.productDetails._id.toString() === ele.productID._id.toString()) { %>
                  <% let rating = ele.averageRating.toFixed() %>
                  <ul class="rating d-flex justify-content-center">
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Bad"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Poor"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="OK"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Good"></i>
                    </li>
                    <% rating-- %>
                    <li>
                      <i class="<%= rating > 0 ? 'fa' : 'far' %> fa-star fa-sm text-warning" title="Excellent"></i>
                    </li>
                  </ul>
                  <% flag = 0 %>
                  <% return %>
                  <% } %>
                  <% }) %>
                  <% if (flag) { %>
                  <ul class="rating d-flex justify-content-center">
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Bad"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Poor"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="OK"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Good"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-warning" title="Excellent"></i>
                    </li>
                  </ul>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
        <% } else { %>
        <h3 class="mt-4 h4 mb-4" id="warning-title">You have no items yet...</h3>
        <% } %>
      </div>

    </div>
  </section>
  <!-- ----------------------------------------------------------------------- -->

  <!-- --------------------------- testimonials included --------------------------- -->
  <%- include('testimonial') %>
  <!-- ----------------------------------------------------------------------- -->
</div>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- footer included --------------------------- -->
<%- include('footer') %>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------- javaScript ------------------------------ -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // will remove item from wishlist using fetch
    document.querySelectorAll('.delete-item').forEach(ele => {
      ele.addEventListener('click', function() {
        const productId = ele.getAttribute('data-product-id');

        Swal.fire({
          title: "Are you sure?",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Yes",
          allowOutsideClick: false,
          customClass: {
            container: 'swal-css'
          }
        }).then((result) => {
          if (result.isConfirmed) {
            fetch(`/remove-from-wishlist?productId=${productId}`, {
                method: 'DELETE',
              }).then(response => response.json())
              .then(data => {
                if (data.success) {
                  ele.closest('.product-tile').remove();

                  Swal.fire({
                    icon: 'success',
                    text: 'Product removed from wishlist',
                    showConfirmButton: false,
                    customClass: {
                      container: 'swal-css'
                    },
                    timer: 1500,
                  })
                }

                if (data.error) {
                  Swal.fire({
                    title: 'Error!',
                    text: data.error,
                    icon: 'error',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false,
                    customClass: {
                      container: 'swal-css'
                    }
                  });
                }

                // fetching content for updating navbar
                fetch('/update-navbar', {
                    method: 'POST'
                  }).then(response => response.json())
                  .then(data => {
                    const user = JSON.parse('<%- JSON.stringify(user) %>');
                    const cartCount = document.getElementById('cart-count');
                    const wishlistCount = document.getElementById('wishlist-count');
                    const mainTitle = document.getElementById('main-title');

                    user ? (data.cart ? cartCount.innerText = data.cart.items.length : cartCount.innerText = '0') : '';
                    user ? (data.wishlist ? wishlistCount.innerText = data.wishlist.products.length : wishlistCount.innerText = '0') : '';
                    mainTitle.innerText = data.wishlist ? `WISHLIST - ${data.wishlist.products.length} item(s)` : `WISHLIST - 0 item(s)`;

                    if (!data.wishlist) {
                      const h3 = document.createElement('h3');

                      h3.classList.add('mt-4', 'h4', 'mb-4');
                      h3.textContent = 'You have no items yet...';

                      document.querySelector('.container').appendChild(h3);
                    }
                  })
              }).catch(err => {
                window.location.href = '/login';

                console.log(err);
              })
          }
        })
      })
    })
  });
</script>
<!-- ----------------------------------------------------------------------- -->